
<h1><%= t("helpers.page_title.sessions.new") %></h1>

<%= form_tag session_path do %>
  <table>
    <tr class="field">
      <td><%= label_tag t("helpers.label.session.name") %></td>
      <td><%= text_field_tag     :name    , '', :class => 'login' %></td>
    </tr>
    <tr class="field">
      <td><%= label_tag t("helpers.label.session.password") %></td>
      <td><%= password_field_tag :password, '', :class => 'login' %></td>
    </tr>
  </table>

  <div class="actions">
    <%= submit_tag t("helpers.submit.session.login") %>
    <br />
    <br />
    <br />
    <%= submit_tag t("helpers.submit.session.reset_password"), :name => 'reset_password' %>
  </div>
<% end -%>

<%= render :partial => 'login_notice' %>

