
<%= form_for(@user, args_for_form_for(@user)) do |f| %>
  <%= uak_error_messages_for(@user) %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <% if @user.respond_to?(:is_writer) -%>
    <div class="field">
      <%= f.check_box :is_writer %>
      <%= f.label :is_writer %>
    </div>
  <% end -%>

  <% if @user.respond_to?(:is_administrator) -%>
    <div class="field">
      <%= f.check_box :is_administrator %>
      <%= f.label :is_administrator %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end -%>

