
<h1><%= t("helpers.page_title.users.change_password") % {name: current_user.name} %></h1>

<%= form_for(current_user, :url => update_password_user_path(current_user)) do |f| %>
  <% if current_user.errors.any? -%>
    <div id="errorExplanation">
      <h2><%= t("activerecord.errors.template.header.other") \
                % {model: t("activerecord.model.user"), count: current_user.errors.count} %></h2>
      <%= t("activerecord.errors.template.body") %>
      <ul>
        <% current_user.errors.full_messages.each do |msg| -%>
          <li><%= msg %></li>
        <% end -%>
      </ul>
    </div>
  <% end -%>

  <% size_of_field = 20 -%>

  <div class="field">
    <%= f.label :old_password %><br />
    <%= f.password_field :old_password, :size => size_of_field %>
  </div>
  <div class="field">
    <%= f.label :new_password %><br />
    <%= f.password_field :password, :size => size_of_field %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :size => size_of_field %>
  </div>
  <div class="actions">
    <%= f.submit t("helpers.submit.user.change") %>
  </div>
<% end -%>

