
<h1><%= t("helpers.page_title.users.change_password") % {name: @user.name} %></h1>

<%= form_for(@user, :url => update_password_user_path(@user)) do |f| %>
  <%= uak_error_messages_for(@user) %>

  <% size_of_field = 20 -%>

  <table>
    <tr class="field">
      <td><%= f.label :old_password %></td>
      <td><%= f.password_field :old_password, :size => size_of_field %></td>
    </tr>
    <tr class="field">
      <td><%= f.label :new_password %></td>
      <td><%= f.password_field :password, :size => size_of_field %></td>
    </tr>
    <tr class="field">
      <td><%= f.label :password_confirmation %></td>
      <td><%= f.password_field :password_confirmation, :size => size_of_field %></td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit t("helpers.submit.user.change") %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <% path_from_constant = eval_or_nil(UserAuthKuma::Constant::CANCEL_PATH_FROM_CHANGE_PASSWORD) -%>
    <%= link_to t("helpers.link.user.cancel"), path_from_constant || browse_back_by_javascript %>
  </div>
<% end -%>

