
<h1><%= t("helpers.page_title.users.change_password") % {name: current_user.name} %></h1>

<%= form_for(current_user, :url => update_password_user_path(current_user)) do |f| %>
  <%= uak_error_messages_for(current_user) %>

  <% size_of_field = 20 -%>

  <div class="field">
    <%= f.label :old_password %><br />
    <%= f.password_field :old_password, :size => size_of_field %>
  </div>
  <div class="field">
    <%= f.label :new_password %><br />
    <%= f.password_field :password, :size => size_of_field %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :size => size_of_field %>
  </div>
  <div class="actions">
    <%= f.submit t("helpers.submit.user.change") %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <% path_from_constant = eval_or_nil(UserAuthKuma::Constant::CANCEL_PATH_FROM_CHANGE_PASSWORD) -%>
    <%= link_to t("helpers.link.user.cancel"), path_from_constant || root_path %>
  </div>
<% end -%>

