
<h1><%= t("helpers.page_title.users.index") %></h1>

<p>
  <%= link_to t("helpers.link.user.new"), new_user_path %>
</p>

<table id="table_users" class="table_base">
  <tr>
    <% @attribute_names.each do |attr_name| -%>
      <th><%= User.human_attribute_name(attr_name) %></th>
    <% end -%>

    <th colspan="2" />
  </tr>

  <% @users.each do |user| -%>
    <tr>
      <% @attribute_names.each do |attr_name| -%>
        <td align="<%= attribute_align(attr_name) %>">
          <%= attribute_value(user, attr_name) %>
        </td>
      <% end -%>

      <td><%= link_to t("helpers.link.user.edit"), edit_user_path(user) %></td>
      <td align="center">
        <% if user.id == current_user.id -%>
          <%= '-' %>
        <% else -%>
          <%= link_to t("helpers.link.user.destroy"), user_path(:id => user), :method => :delete,
                                    :confirm => t("helpers.confirm.user.destroy") % {name: user.name} %>
        <% end -%>
      </td>
    </tr>
  <% end -%>
</table>

